.App {
  text-align: center;
}

.App-header {
  background-color: #1b2a44;
  min-height: 100vh;
}

.Title {
  position: absolute;
  font-size: xx-large;
  color: #16a34a;
  font-style: Arvo;
  top: 10px;
  left: 150px;
  text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}

.codeBox {
  position: absolute;
  text-align: left;
  top: 65px;
  left: 150px;
  right: 150px;
  background-color: #353a46;
  height: calc(80vh - 200px);
  box-shadow: 5px 45px 20px rgb(0 0 0 / 0.2),
    -5px -5px 20px rgb(0 0 0 / 0.2);
}

.outputBox {
  box-sizing: border-box;
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px;
  height: 200px;
  padding: 10px;
  text-align: left;
  overflow-y: auto;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
  background-color: black;
  color: #b91c1c;
  border: solid #353a46 7px;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 0.2),
  -5px -5px 20px rgb(0 0 0 / 0.2);
  font-family: 'Courier New', Courier, monospace;
}

.App-link {
  color: #61dafb;

}

