.fileName {
  width: 100px;
  display: inline;
  font-family: monospace;
  color: white;
  padding: 10px;
}

.changes {
  font-family: monospace;
  display: inline;
  padding: 10px;
  font-size: small;
  color: white;
  float: right;
}

.listHeader {
  border: outset thick rgba(97, 97, 97, .2);
  background: #212121;
}

.list {
  color: white;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  background: black;
  border: solid thin #212121;
  box-shadow: 1px 1px 5px,
  -1px -1px 5px;
}

.contentButtons {
  align-items: center;
  border: outset thick rgba(97, 97, 97, .2);
}

.content {
  grid-area: content;
  background: #212121;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 50px;
  border: solid thin #212121;
  box-shadow: 1px 1px 5px,
  -1px -1px 5px;
}

.header {
  grid-area: header;
  font-family: monospace; 
  display: inline-flex;
}

.login {
  grid-area: login;
  display: flex;
  align-items: baseline;
  color: white; 
  font-size: 17px;
  font-family: Arvo; 
  flex-direction: row-reverse;
}


.headerText {
  padding: 5px;
  background: black;
  font-family: Arvo;
  color: white;
  font-size: x-large;
  box-shadow: 1px 1px 5px black,
  -1px -1px 5px black;
}

.footerButtons {
  background: #212121;
  border: outset thick rgba(97, 97, 97, .2);
}

.footerContent {
  padding: 10px;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  border: solid thin #212121;
  font-size: larger;
  font-family: monospace;
  background: black;
  box-shadow: 1px 1px 5px,
  -1px -1px 5px;
}

.wrapper {
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 325px minmax(400px, auto) 170px;
    grid-template-rows: 40px minmax(150px, auto) minmax(100px, 30vh);
    grid-template-areas:
    "header  header  login"
    "sidebar content content"
    "sidebar  footer  footer";
  }

  body {
    background-color: #263238;
  }