.fileName {
  padding: 10px;
  display: inline;

  font-family: monospace;
  color: white;
}

.changes {
  padding: 10px;
  display: inline;
  font-family: monospace;
  font-size: small;
  color: white;
  float: right;
}

.sidebar {
  grid-area: sidebar;
  position: static;
  background: black;
  border: solid thick #212121;
  overflow-y: auto;
  scroll-behavior: smooth;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 0.2),
  -5px -5px 20px rgb(0 0 0 / 0.2);
}

.content {
  grid-area: content;
  height: calc(80vh - 200px);
  background: #212121;
  padding-bottom: 36.5px;
  position: relative;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 0.2),
  -5px -5px 20px rgb(0 0 0 / 0.2);
}

.header {
  grid-area: header;
  font-style: Arvo;
  color: white;
  font-size: x-large;
}
.headerText {
  background: black;
  border: solid thick black;
  border-radius: 5px;
  width:fit-content
}

.footer {
  grid-area: footer;
  position: static;
  padding: 7.5px;
  color: #b91c1c;
  font-size: larger;
  font-family: monospace;
  border: solid thick #212121;
  overflow-y: auto;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
  background: black;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 0.2),
  -5px -5px 20px rgb(0 0 0 / 0.2);
}

.wrapper {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    background-color: #424242;
    grid-template-columns: minmax(auto, 200px) auto;
    grid-template-rows: minmax(auto, 40px) auto minmax(auto, 250px);
    grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "sidebar  footer  footer";
  }
